extends layout

block content
    div In #{city} the Meteorology Forecast is :
    div humidity : #{humidity}
    div Maximal Temperature at Day : #{maxTempDay}
    div Minimal Temperature at Night : #{maxTempDay}
    div Wind Direction : #{windDirection}
    div Frequent Wind Speed : #{frequentWindSpeed}
    div Maximal Wind Speed : #{maxWindSpeed}