extends layout

block content
  -data = data || {}
  -var newLines = 2
  -var email = email || false
  -var fail = registerFailed

  if errors
    ul
      for error in errors
        li= error.msg
  if fail
    div(class="logginFail") Email and\or password do not match
  div(class="formWrapper")
    form(action="../handleRegistration" method="POST" )
        label(for="email" class="inputDescription") Email:
        br
        input(
            type="email"
            id="email"
            name="email"
            class="form-control"
        )
        -for (var i = 0; i < newLines ; i++)
            br
        label(for="pass" class="inputDescription") Password:
        br
        input(
            type="password"
            id="pass"
            name="password"
            class="form-control"
        )
        -for (var i = 0; i < newLines ; i++)
            br
        input(
            type="submit"
            value="Agree & Join"
            class="btn btn-lg btn-primary btn-block inputDescription agree"
        )